.git
.vscode
.vscode-test
node_modules
client
server
test
syntaxes/*.json
!syntaxes/gtk-css.tmLanguage.json
build.js
package-lock.json
tsconfig.json
.gitignore
.vscodeignore
README.md
**/*.map
test/
src/
